{% extends 'bookings/base.html' %}
{% block title %}
    Movie List
{% endblock %}
{% block content %}
    <h2 class="mb-4">
        Available Movies
    </h2>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for movie in movies %}
            <div class="cols">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ movie.title }}
                        </h5>
                        <p class="card-text">
                            {{ movie.description }}
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        Release Date: {{ movie.release_date }}<br>
                        Duration: {{ movie.duration }} minutes <br>
                        <a href="{% url 'book_seat' movie.id %}" class="btn btn-primary btn-sm mt-2">Book Now</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No movies yet, check back soon!</p>
        {% endfor %}
    </div>
{% endblock %}