{% extends 'bookings/base.html' %}
{% block title %} 
    Book Seats 
{% endblock %}
{% block content %}
<h2>Book a seat for {{ movie.title }}</h2>

<div class="d-flex flex-wrap gap-2 mt-3">
    {% for seat in seats %}
        {% ifchanged seat.seat_number|slice:":1" %}
            {% if not forloop.first %}
                <div class="w-100"></div>
            {% endif %}
        {% endifchanged %}
        <form method="post" class="m-0">
            {% csrf_token %}
            <input type="hidden" name="seat" value="{{ seat.id }}">
            {% if seat.booking_status == True %}
                <button type="button" class="btn btn-secondary" disabled>{{ seat.seat_number }}</button>
            {% else %}
                <button type="submit" class="btn btn-outline-success">{{ seat.seat_number }}</button>
            {% endif %}
            </form>
    {% empty %}
            <p>
                This is a standing movie
            </p>
    {% endfor %}
</div>
{% endblock %}